#testimonials{
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 3%;
}
#features
{
  padding:2% 2%;
  /*background-color:#fff;*/
  position:relative;
  z-index:1;
}
.feature-images{
  text-align:center;
  padding:5%;
}
/* icon style */
.icon
{
color:#000;
margin-bottom: 1rem;
}
.icon:hover{
color:#624a59;
}
.heading{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carousel-item
{
    padding:7% 15%;
}
.card-img-top{
  padding-top: 5px;
width: 150px;
height:150px;
border-radius:50%;
}
.head1{
 background-color: #624a59; 
}
.head2{
  background-color: #ffe9ef; 
}
.head3{
  background-color: #624a59;
}