<section id="testimonials">
    <h1 class="text-primary text-center heading">Let's hear from our Innovative Minds</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-5 mb-5 ">
      <div class="col">
        <div class="card h-100 shadow text-center">
          <img src="../../assets/one.jpg" class="card-img-top d-flex mx-auto" alt="...">
          <div class="card-body">
            <h5 class="card-title">Madhavi Peechara</h5>
            <p class="card-text">The Project Foresight is very  helpful to  engineering students who are  having online classes(cause of pandemic).Easy access to all online classes links,placements applied by the student and coding profiles.</p>
  
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow text-center">
          <img src="../../assets/two.jpg" class="card-img-top d-flex mx-auto" alt="...">
          <div class="card-body">
            <h5 class="card-title">Siddarth saxena</h5>
            <p class="card-text">By using Foresight, your day becomes a lot more efficient and manageable.</p>
  
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow text-center">
          <img src="../../assets/three.jpg" class="card-img-top d-flex mx-auto" alt="...">
          <div class="card-body">
            <h5 class="card-title">Niharika Sirapurapu</h5>
            <p class="card-text">Ever came across a situation,where you forgot to attend an important event??If yes,here is a one step solution "Foresight-Plan your Day Everyday."</p>
  
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow text-center">
          <img src="../../assets/four.jpg" class="card-img-top d-flex mx-auto" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dedeepya Yarlagadda</h5>
            <p class="card-text">Planning a day efficiently is very important for every individual to accomplish great heights , here we go our website “Foresight plan your day everyday” will help you to plan your day with Classes, Placements and competitive programming</p>
          </div>
        </div>
      </div>
      </div>
  </section>
  
  <section id="features">
      <div class="row">
        <div class="col-lg-4 feature-images">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3>Easy to use.</h3>
          <p>So easy to use, with an impressive and Easy Navigation.</p>
        </div>
        <div class="col-lg-4 feature-images">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3>It's Smart</h3>
          <p>It's a colloboration of 4 Innovative Minds.</p>
        </div>
        <div class="col-lg-4 feature-images">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3>Guaranteed to Excel.</h3>
          <p>Builded with Care,keeping in mind about all Users.</p>
        </div>
      </div>
  </section>
  
  
  <!-- <section id="testimonials">
      <div id="test-car" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
            <h2>I no longer have to search many places to find Links. I've found the best Portal</h2>
            <img class="testimonial-image" src="images/dog-img.jpg" alt="person-1">
            <em>Advaith</em>
            </div>
            <div class="carousel-item">
            <h2>I used to miss many Events those that don't have a remainder.</h2>
            <img class="testimonial-image" src="images/lady-img.jpg" alt="person-2">
            <em>Akshith</em>
            </div>
          </div>
          <a class="carousel-control-prev" href="#test-car" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#test-car" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
           </a>
      </div> 
  </section>
   -->
  
  
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1500">
        <img src="../../assets/smart.PNG" class="d-block w-100" alt="ONE">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="../../assets/comfy.PNG" class="d-block w-100" alt="TWOO">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="../../assets/flexy.PNG" class="d-block w-100" alt="THREEE">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  