<div class="log" style="padding-bottom:100px;">
<p class="display-4 text-center " style="background-color:#624a59; color:blanchedalmond;margin-bottom: 5px; padding-bottom: 10px;font-family:Niconne; font-size: 45px;">Login here</p>
<form #ref="ngForm" (ngSubmit)="onLogin(ref.value)" class="w-75 mx-auto mt-5">
    <div class="form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="name@example.com" name="username" 
            ngModel>
        <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password"  ngModel>
        <label for="password">Password</label>
    </div>
  
    <button class="btn  d-block mx-auto m-4" style="background-color:#624a59; color:blanchedalmond;font-family:Charmonman;"type="submit">Login</button>
    <div style="height:230px;background-color:#ffe9ef;"></div>
</form>
</div>