<ul class="nav nav-tabs mt-3 justify-content-center">
    <li class="nav-item">
      <a class="nav-link "  routerLink="viewcodingprofiles" routerLinkActive="active" style="color:#624a59;font-size:25px;font-family: Niconne;">View CodingProfiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="addcodingprofiles" routerLinkActive="active" style="color:#624a59;font-size:25px;font-family: Niconne;">Add CodingProfiles</a>
    </li>
   
  </ul>


  <div>
      <router-outlet></router-outlet>
  </div>
