<div class="container-fluid" style="padding-bottom: 30px;">
    <input type="text" name="productTitle" placeholder="Search by Company Name" class="form-control mt-2" [(ngModel)]="searchTerm">
    <br>
    <div class="table-content">
        
        <form #ref="ngForm" (ngSubmit)="saveProfile(ref.value)">
            <table class="table text-center text-dark">
                <thead>
                    <th>Platform Name</th>
                    <th>Description</th>
                    <th>Score</th>
                    <th>Link</th>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of profiles| search :searchTerm;let ind=index">
    
                        <!-- product title -->
                        <td class="title">
                            <span *ngIf="!editplaceStatus || editplaceIndex!==ind">
                                {{obj.ProfileName | uppercase}}
                            </span>
    
                            <input type="text" name="ProfileName" [(ngModel)]="editplaceObj.ProfileName"
                                *ngIf="editplaceStatus && editplaceIndex==ind">
    
                        </td>
                        <!-- product description -->
                        <td>
                            <span *ngIf="!editplaceStatus || editplaceIndex!==ind">
                                   {{ obj.Description}}
                
                    
                            </span>
    
                            <input type="text" name="Description" [(ngModel)]="editplaceObj.Description"
                                *ngIf="editplaceStatus && editplaceIndex==ind">
    
                        </td>
                        <td>
                            <span *ngIf="!editplaceStatus || editplaceIndex!==ind">
                                   {{ obj.Score}}
                    
                            </span>
    
                            <input type="text" name="Score" [(ngModel)]="editplaceObj.Score"
                                *ngIf="editplaceStatus && editplaceIndex==ind">
    
                        </td>
                        <td>
                            <!-- <img src={{obj.itemLink}} alt="" width="100px">  -->
                            <a class="btn" style="background-color:#624a59; color:white" role="button" href={{obj.Link}} target=_blank>Open</a>
                            <!-- {{obj.itemLink}} -->
                        </td>
                        <!-- edit  and delete -->
                        <td>
                            <span *ngIf="!editplaceStatus || editplaceIndex!==ind" class="d-block">
                                <button class="btn btn-edit btn-sm p-1 m-1" (click)="editProfile(obj,ind)" type="button"><i
                                        class="fas fa-edit "></i>
                                </button>
                                <button class="btn btn-delete btn-sm p-1 m-1" (click)="deleteProfile(obj)" type="button">
                                    <i class="fas fa-trash-alt "></i>
                                </button>
                            </span>
    
                            <span *ngIf="editplaceStatus && editplaceIndex==ind">
                                <button class="btn btn-sm btn-success" type="submit">
                                    <i class="fas fa-save text-white"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
     
  </div>
