<!-- <div class="head" style="background-color: #FFDEFA; width:100%; height:auto"> -->
<div id="header1" class="container-fluid" style="margin-bottom: 0;">
<div class="carousel slide " data-bs-ride="carousel" id="crs" >

    <div class="carousel-indicators">
        <button data-bs-target="#crs" data-bs-slide-to="0" class="active"></button>
        <button data-bs-target="#crs" data-bs-slide-to="1"></button>
        <button data-bs-target="#crs" data-bs-slide-to="2"></button>
    </div>
  
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="https://www.okaloosaschools.com/files/2020-03/onlineedu.jpg" alt="" width="100%" height="612px">
            <div class="carousel-caption">
                <h2> </h2>
                <p> </p>
           </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/code.jpg" alt="..." width="100%" height="612px">
            <div class="carousel-caption">
                <h2> </h2>
                <p> </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://img2.exportersindia.com/product_images/bc-full/dir_136/4065674/placement-services-1521631509-3736456.png" alt="" width="100%" height="612px">
            <div class="carousel-caption">
                <h2> </h2>
                <p> </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" data-bs-target="#crs" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" data-bs-target="#crs" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
</div>
</div>
<section id="header2" class="container-fluid mt-0 mb-0" style="padding-bottom:100px;padding-top:100px;margin-top:0;">
<div class="card text-center   w-50">
    <h5 class="card-header text-center justify-content-center" style="color:  #ffe9ef; background-color:#624a59; font-family:Cairo;">FORESIGHT PLAN YOUR DAY-EVERYDAY</h5>
    <div class="card-body bg-light">
        <p class="card-text">Planning a day efficiently is very important for every individual to accomplish great heights , here we go our website “Foresight plan your day everyday” will help you to plan your day with Classes, Placements and competitive programming</p>
        <button (click)="redirect()" class="btn btn-info" style="color:#ffe9ef; background-color:#624a59;font-family: Charmonman;">Register Yourself !</button>
    </div>
</div>
</section>
<section id="header3" class="container-fluid mt-0 mb-0" style="padding-bottom: 70px;padding-top:70px;">
    <div class="row">
    <div class="card bg-light  w-75">
        <div class="card-body">
            <h2 class="card-title text-center " style="background-color:#624a59 ;color:#ffe9ef ;font-family:Cairo;margin-bottom:3px;">CONTACT US</h2>
            <p class="text-center w-responsive mx-auto mb-3" style="padding-top: 5px;">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                    a matter of hours to help you.</p>
                  
            <div class="col-md-12 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form">
                    <div class="row">
                        <div class="col form-floating mb-3">
                            <input type="text" class="form-control" id="pt" placeholder="Kalpana Shinde" name="Your Name">
                            <label for="pt">Your Name</label>
                        </div>
                        <div class="col form-floating mb-3">
                            <input type="email" class="form-control" id="em" placeholder="name@example.com" name="Your Email">
                            <label for="pt">Your Email</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="ti" placeholder="Title" name="Subject..">
                        <label for="pt">Subject</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="de" maxlength="200" placeholder="description" name="Your Message">
                        <label for="pi">Your Message</label>
                    </div>
                </form>
    
                <div class="text-center text-md-left mt-4">
                    <a class="btn" style="background-color:#624a59 ;color:#ffe9ef;font-family: Charmonman ;" onclick="submit"> Send </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
</section>